@model DiveBuddy.BuisnessModel

@{
    ViewData["Title"] = "Create";
    var selectedBusinessId = ViewData["businessId"];  
}

<h1 class = "t2">@Model.Title</h1> 

<!--UPLOAD: Notice the forms has an enctype. that is needed so the form will send the file to the server-->

  <form id="picForm" asp-action="Create" asp-method="POST" enctype="multipart/form-data"> 
      <section id ="photoBtn">
        <div class="photo2">
          <input class="form-control" type="file" name="pic" accept="image/*" />
          <input class="btn btn-primary" type="submit" value="Submit"/>
        </div>    
      </section>          
  </form>   


 


