@model DiveBuddy.PhotosModel

@{
    ViewData["Title"] = "Index";
}

<h2 class = "photo2">This is the title</h2>
  <div id = "photoBtn">
              <button type="submit" value="Submit">Add your photo</button>
  </div>



