@{
    ViewData["Title"] = "Home Page";
    Layout = "_SplashPageLayout";
}

<header>

</header>
<body>
    <section class = "everything">
    <h1>Dive Buddy</h1>
    <h3>What are you looking for?</h3>
    
    <div>
    <a asp-controller="Reviews" >Read Individual Reviews</a>
    </div>
    
     </section>
    <nav class = "choicesLinks">
          <a href="ScubaDive.cshtml">Scuba Dive</a>
          <a href="FreeDive.cshtml">Free Dive</a>
          <a href="DiveShops.html">Dive Shops</a>
          <a href="ScubaCertification.cshtml">Scuba Certification</a>
          <a href="BoatCharters.cshtml">Boat Charters</a>
    </nav>

</body>
