@{
    ViewData["Title"] = "Home Page";
    Layout = "_SplashPageLayout";
}

<header>

</header>
<body>
    <section class = "everything">
    <h1>Dive Buddy</h1>
    <h3>What are you looking for?</h3>
    
    <div>
    <a asp-controller="Reviews" >Read Individual Reviews</a>
    </div>
    
     </section>
    <nav class = "choicesLinks">
          <a asp-controller="Reviews" asp-action="Index" asp-route-selectType=@DiveBuddy.BusinessEnum.ScubaDive>Scuba Dive</a>
          <a asp-controller="Reviews" asp-action="Index" asp-route-selectType=@DiveBuddy.BusinessEnum.FreeDive>Free Dive</a>
          <a asp-controller="Reviews" asp-action="Index" asp-route-selectType=@DiveBuddy.BusinessEnum.DiveShop>Dive Shops</a>
          <a asp-controller="Reviews" asp-action="Index" asp-route-selectType=@DiveBuddy.BusinessEnum.ScubaCertification>Scuba Certification</a>
          <a asp-controller="Reviews" asp-action="Index" asp-route-selectType=@DiveBuddy.BusinessEnum.BoatCharter>Boat Charters</a>
    </nav>

</body>
