@model DiveBuddy.BuisnessModel

@{
    ViewData["Title"] = "Create";
    var selectedBusinessId = ViewData["businessId"]; //no model needed 
}


<div class="row">
    <!-- <div class="col-md-4"> --> 
    <h2 class = "w"> Write a Review</h2>

     <h1 class = "t2"> @Model.Title</h1>
       <section id = "locationInfo3">
          <div class="address3">
             <h4>@Model.Address</h4>
             <h4>@Model.City</h4>
             <h4>@Model.PhoneNbr</h4>
             <h4>Directions here</h4>
          </div>
       </section>   
         <section class = "yourreview">  
        <form class="writeRew" asp-action="Create" asp-route-id=@Model.Id>   
          <section class = "select">
              <div class = "stars2">
                <!-- input for the stars                                Is it create?--> 
                <input class="rating" type = "text" name= "rating" asp-action="Create" asp-route-id=@Model.Id>
                <!--input for the stars ^-->  
                <span class="glyphicon glyphicon-star star-1" aria-hidden="true"></span> 
                <span class="glyphicon glyphicon-star star-2" aria-hidden="true"></span> 
                <span class="glyphicon glyphicon-star star-3" aria-hidden="true"></span> 
                <span class="glyphicon glyphicon-star star-4" aria-hidden="true"></span> 
                <span class="glyphicon glyphicon-star star-5" aria-hidden="true"></span> 
              </div>           
                <h4>    Select your rating</h4>
          </section>
            <div class="form-group">         
                <textarea rows = "7" cols = "50" name="review"></textarea>
            </div>
            <div class="form-group">
              <input class="btn btn-primary" type="submit" value="Submit">
            </div>
          </section> 
         </form>

</div>

