@model DiveBuddy.ReviewsModel

@{
    ViewData["Title"] = "Create";
    var selectedBusinessId = ViewData[]; //what was here??
}


<div class="row">
    <!-- <div class="col-md-4"> --> 
    <h2 class = "w"> Write a Review</h2>

     <h1 class = "t2">Title</h1>
       <section id = "locationInfo3">
          <div class="address3">
             <h4>123 Fake Street</h4>
             <h4>St Pete, FL 33701</h4>
             <h4>555-555-5555</h4>
             <h4>Directions here</h4>
          </div>
       </section>   
            <h3 class = "ur">Your review</h3>
         <section class = "yourreview">
        <form asp-action="Create">
          <section class = "select">
              <div class = "stars2">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
              </div>           
                <h4>    Select your rating</h4>
          </section>
            <div class="form-group">
                <textarea rows = "7" cols = "50"></textarea>
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
          </section> 
        </form>
</div>

