@model DiveBuddy.ReviewsModel

@{
    ViewData["Title"] = "Edit";
}

<h2 class = "admin">Administrator</h2>

<hr />
   <div class = "buttons2">
              <button type="submit" value="Submit">Add Buisness</button>
              <button type="submit" value="Submit">Delete Buisness</button>
              <button type="submit" value="Submit">Edit Buisness Info</button>
   </div>
<div class="row">
    <section class = "edit">
        <div class="address4">
          <h2> Long Title</h2>
          <h4>123 Fake Street</h4>
          <h4>St Pete, FL 33701</h4>
          <h4>555-555-5555</h4>
          <h4>Website</h4>
        </div>
    </section>     
</div>

