@model DiveBuddy.ReviewsModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ReviewsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <input asp-for="Review" class="form-control" />
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserID" class="control-label"></label>
                <select asp-for="ApplicationUserID" class="form-control" asp-items="ViewBag.ApplicationUserID"></select>
                <span asp-validation-for="ApplicationUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuisnessId" class="control-label"></label>
                <select asp-for="BuisnessId" class="form-control" asp-items="ViewBag.BuisnessId"></select>
                <span asp-validation-for="BuisnessId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

