@model IEnumerable<DiveBuddy.BuisnessModel>

@{
    ViewData["Title"] = "Index";
}
@foreach (var item in Model)
{
<main>
    
   <img class="mainImage" src="~/uploads/images/@item.Photos.FirstOrDefault()" />

  <div class="title">

    <h2><a asp-conttoller="Reviews" asp-action="Details" asp-route-id=@item.Id > @item.Title</a></h2>
                                                           
       <section class="stars">
         <img = "one">
             <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
         <img = "two">
             <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
         <img = "three">
             <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
         <img = "four">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
         <img = "five">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
       </section>
  </div>
  <section>
        <div class="address">
        <h4>@item.Address</h4>
        <h4>@item.City</h4>
        <h4>@item.PhoneNbr</h4>

  </section>
</main>

}



       
