
body {
    padding-top: 75px;
    background-image: url("/images/reef2.jpg");  
    background-size: cover;

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

h1 {
    text-align: center;
    color: white; 
    font-family: cursive; 
    font-size: 5em; 
    text-shadow: 2px 2px #09347a;     
}

h3 {
    text-align: center;
    color: white; 
    font-family: Georgia, serif;
    text-shadow: 2px 2px #09347a;   
}

.choicesLinks {
    padding-top: 15px; 
    padding-left: 50px; 
    padding-right: 50px; 
    font-size: 1.5em; 
    display:flex; 
    justify-content: space-between;
    flex-direction: row; 
    font-family: Georgia, serif;	
}

a{
    color: white; 
}

p{
    padding-top: 400px; 
    color: white; 
}


